{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=McLaren&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="//code.j query.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <title>First Drip by heavenfreesta</title>
</head>
<body style="font-family: 'McLaren', cursive;">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <h1 class="mb-4 mt-4"> Akhmad Diponegoro Widodo</h1>
            </div>
            <div class="col-lg-5 col-xs-0"></div>
            <div class="col-lg-2 mb-4 mt-4">
                <label class="switch">
                    <input type="checkbox" name='theme'>
                    <span class="slider"></span>
                </label>
                <p class="label-checkbox">switch theme</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                
                <img src="{% static 'img/idphoto.png' %}" class="foto-profile" alt="foto">
                    
            </div>
            <div class="col-lg-6">
                <div id="jQuery-accordion">
                    <h3 name="accordion-header-1"style="font-family: 'McLaren', cursive;">Aktivitas</h3>
                    <div class="panel">
                        <p class="text-accordion" name='content-accordion-1'style="font-family: 'McLaren', cursive;"><b> Vice Project Officer</b> <br> EDUCARE 2020
                    </div>
                    <h3 name="accordion-header-2"style="font-family: 'McLaren', cursive;">Pengalaman Organisasi/Kepanitiaan</h3>
                    <div class="panel">                            
                        <p class="text-accordion" name='content-accordion-2' style="font-family: 'McLaren', cursive;"> <b>Member of Entrepreneurship SIG</b> 
                        <br> SISTEM Fasilkom UI 
                        <br><br><b> Staff of STAGE</b> 
                        <br> COMPFEST XI  
                        <br><br><b> Staff of Health and Fundraising</b>
                        <br> CS League 2019  
                        <br><br><b> Staff of Public Relations</b>
                        <br> Educare 2019  </p>
                    </div>
                    <h3 name ="accordion-header-3" style="font-family: 'McLaren', cursive;">Prestasi</h3>
                    <div class="panel">
                        <p class="text-accordion" name='content-accordion-3'style="font-family: 'McLaren', cursive;"><b>Juara 3</b> O2SN Catur Tingkat SD Kota Cimahi</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/index.js' %}" type="text/javascript"></script>

</body>
</html>
