html {
    --bg: #b62121;
    --bg-panel: #ec4f4f;
    --color-text: white;
    --hover-bg: #ccc;
    --bg-accordion: #bdbbbb;
    --color-textaccordion: #333333;
}

html[data-theme='dark'] {
    --bg: #22209b;
    --bg-panel: #6765f3;
    --color-text: white;
    --color-textaccordion: #e3e3e3;
    --bg-accordion: #bdbbbb;
    --color-textaccordion: #333333;
}

body {
    background-color: var(--bg);
}

.container {
    background-color: var(--bg-panel);
    padding: 2em 3em;
    border-radius: 5em;
    margin-top: 3em;
}

h1,
h3,
h2,
p {
    color: var(--color-text);
}

.foto-profile {
    height: auto;
    width: 20em;
    margin: 2em;
    display: block;
    text-align: center;
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.label-checkbox {
    font-size: 15px;
    display: inline-block;
    transform: translateY(20%);
}


html.transition,
html.transition *,
html.transition * :before,
html.transition * :after {
    transition: all 750ms !important;
    transition-delay: 0 !important;
}

.ui-accordion {
    font-size: 25px;
}

.panel {
    font-size: 0.7em;
}

.text-accordion {
    color: var(--color-textaccordion);
}

.ui-accordion-header {
    color: var(--color-textaccordion);
    background: var(--bg-accordion);
}